@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
	font-family: Lato, "Open Sans", Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #202030;
	background-color: #EF9A9A;
}

.resume-header {
    background-color: #A85858;
	color: floralwhite
}

.resume-main {
	background-color: #FFEBEE;
}

.resume-aside {
	background-color: #F5D9D9;
}

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #B87D93;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
.w-160 {
}
.w-150 {
}
